.footer-col {

    display: flex;
    align-content: center;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    z-index: -1;

}

.footer-icon {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.feedback-form-button {
    border-radius: 20px;
    --background-color: #414141 !important;
    color:black !important;
}
